gcp_region = ["",""]
gcp_project = ""
node_type = "n1-standard-2"
gcp_zone = ["",""]
gke_cluster = ""
numnodes = 3
consul_nodes = 3
regional_k8s = false
owner = ""
gcs_bucket = ""
service_account = ""
default_gke = true
default_network = false
dns_zone = null
consul_license = ""
create_federation = true
consul_enterprise = false
consul_version = "1.8.5"
chart_version = ""